
<div class="hero">

  <nav id="navbar">
      <h2 class="logo">8<span>BEATS</span></h2>
      <ul>
         <li><a  href="/">H0ME</a></li>
         <li> <span> 
                  {{#if currentUser}}
                  <a  href="/beats">BEATS</a>
                  {{else}}
                  <a   href="/login">L0GIN</a>
                  {{/if}}
              </span>
          </li>
          <li><a id="dowloads-btn" href="/beats/myList">MyGAME</a></li>
          <li><a href="/users/{{currentUser.id}}/userDetail">PLAYER: {{currentUser.name}}</a></li>
          <li><form id="logout" action="/logout" method="POST">
                  <button>L0G0UT</button>
              </form>
          </li>
        </ul>   
    </nav>
</div>



