<nav class="navbar " id="navbar">
  <div class="container-fluid " >
<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop ">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
  </div>
</div>

    <span class="navbar-brand mb-0 h1 z-index">
      
    {{#if currentUser}}
    <a class="btns" href="/beats">Beats</a>
    {{else}}
    <a  class="btns" href="/login">Login</a>
    {{/if}}
    </span>
    <a class="btns z-index" href="/">Main Page</a>

{{!--   nuevo    --}}
<a id="new-beats-btn" class="z-index btns" href="/beats/new">New beats</a> 
{{!--   nuevo    --}}
  <h4 class="z-index" btns> {{currentUser.name}}</h4>    

  </div>
</nav>