
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.newslatter form{
    position: absolute;
    height: auto;
    width: 50%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  }
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
  }

  .newslatter form button:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 13px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
} 




/**.card{
width:100vw;

}
  .card-body{
width:100vw;
display:flex;
justify-content: left;
align-content: flex-start;


  }
  .card-body-container{
    width:90%;
    display:flex;
    justify-content: center;
  
    
      }
  
  .card-title{
    text-align: left;
  }
  .mb-4{
    width:100vw;
  }
  .row{
    display:flex;
    flex-direction:column;
  }
  .btn-secondary{
  height: fit-content;
  width: fit-content;
  margin-left: 5px;
      margin-right: 5px;
  }
  .btn-primary{
    height: fit-content;
    width: fit-content;
    margin-left: 5px;
      margin-right: 5px;
    }
    audio{
      height: 50px;
      margin-left: 5px;
      margin-right: 5px;
      }

      body{
    font-family: 'Press Start 2P', cursive;
      }

      h1, h2, p, h3, h4, h5, nav, .btn-primary, .btn-secondary, input, span, i {
        font-family: 'Press Start 2P', cursive;
      }

      


.input-group-text, #searchinput, .btn-outline-secondary{
  height: 100%;

  
}
.inputGroup{
  width: 70%;
  align-self: center

}
**/