
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.card{
width:100vw;

}
  .card-body{
width:100vw;
display:flex;
justify-content: left;
align-content: flex-start;


  }
  .card-body-container{
    width:90%;
    display:flex;
    justify-content: center;
  
    
      }
  
  .card-title{
    text-align: left;
  }
  .mb-4{
    width:100vw;
  }
  .row{
    display:flex;
    flex-direction:column;
  }
  .btn-secondary{
  height: fit-content;
  width: fit-content;
  margin-left: 5px;
      margin-right: 5px;
  }
  .btn-primary{
    height: fit-content;
    width: fit-content;
    margin-left: 5px;
      margin-right: 5px;
    }
    audio{
      height: 50px;
      margin-left: 5px;
      margin-right: 5px;
      }

      body{
    font-family: 'Press Start 2P', cursive;
      }

      h1, h2, p, h3, h4, h5, nav, .btn-primary, .btn-secondary, input, span, i {
        font-family: 'Press Start 2P', cursive;
      }

      


.input-group-text, #searchinput, .btn-outline-secondary{
  height: 100%;

  
}
.inputGroup{
  width: 70%;
  align-self: center

}
#formbeats{
  display: flex;
  flex-direction: column;
}