
<h1>8beats</h1>

<hr>


<h2 class="quienessomos">Miles de beats a un solo clic.</h2>
<p class="loremipsum">8Beats es un nuevo servicio revolucionario para artistas musicales que ofrece acceso a descargas ilimitadas de instrumentales.</p>



<h2>Descarga tus favoritos.</h2>
<p>Como miembro, obtienes acceso a todo el contenido que se encuentra actualmente en la plataforma (2.500 beats) y a todo el contenido nuevo que se agregará en el futuro, lo que te brinda una inspiración infinita, cuando y donde lo necesites.</p> 



<hr>

<h4 class="redessociales">contactanos:</h4>
<div id="containerBotonesRedes">
 <a href="https://www.instagram.com/el.pleito/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a href="mailto:8beats@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>

<p>©2022 8Beats. Todos los derechos reservados.</p>


