

<div>
<video src="./vinilo.mp4">
</video>
</div>

<hr>

<div>
<h1 class="quienessomos">Miles de beats a un solo clic.</h1>
<p class="loremipsum">8Beats es un nuevo servicio revolucionario para artistas musicales que ofrece acceso a descargas ilimitadas de instrumentales.</p>



<h2>Descarga tus favoritos.</h2>
<p>Como miembro, obtienes acceso a todo el contenido que se encuentra actualmente en la plataforma (2.500 beats) y a todo el contenido nuevo que se agregará en el futuro, lo que te brinda una inspiración infinita, cuando y donde lo necesites.</p> 



<hr>


</div>





<dir class="service">
    <div class="title">
        <h2 class="tittle">conectate</h2>
    </div>
    <div class="boxer">

    <div class="card"><i class="fa fa-bars" aria-hidden="true"></i><h5>A un solo click</h5>
        <div class="pra">
		   <p>registrate y ten acceso a nuestra base de datos</p>
		</div>
        </div>

    <div class="card"><i class="fa fa-user" aria-hidden="true"></i><h5>Conecta con creadores</h5>
        <div class="pra">
		   <p>forma parte de nuestra comunidad</p>
		</div>
        </div>

    <div class="card"><i class="fa fa-bell" aria-hidden="true"></i><h5>Original y unico</h5>
        <div class="pra">
		   <p>Los beats son creaciones originales de cada productor</p>
		</div>
        </div>

    </div>
</dir>



<div class="social" id="containerBotonesRedes">
 <a href="https://www.instagram.com/el.pleito/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a href="mailto:8beats@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>

</div>

<p class="end">©2022 8Beats. Todos los derechos reservados.</p>

