
<h1>8bits</h1>

<hr>

<h2 class="quienessomos">quienes somos</h2>
<p class="loremipsum">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo unde in error praesentium expedita ipsam non, doloribus saepe repellendus minima ad sit alias nobis nesciunt explicabo, illum sed magnam tempora.</p>


<h3 class="redessociales">redes sociales contactos</h3>
<div id="containerBotonesRedes">
 <i class="fa fa-instagram" aria-hidden="true"></i>
<i class="fa fa-envelope" aria-hidden="true"></i>
    </div>



